In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 

import warnings

warnings.filterwarnings('ignore')

plt.style.use('ggplot')

DATA_DIR = 'data'

In [5]:
transactions = pd.read_csv(f'../{DATA_DIR}/transactions.csv')
transactions.head()

,Transaction_ID,User_ID,Crypto,Transaction_Type,Amount,Price_Per_Unit,Total_Value,Transaction_Fee,Platform,Status,Wallet_Type,Transaction_Date
0,434465,31394,Bitcoin,Withdraw,57.695145,45248.78,2610634.92,114990.70,KuCoin,Completed,Trezor,2024-04-10 09:51:58.222424
1,905397,39627,Solana,Stake,27.708982,48307.43,1338549.71,34560.11,Binance,Failed,Cold Wallet,2023-10-04 09:51:58.222424
2,451293,11506,Cardano,Buy,80.368977,44428.82,3570698.81,38312.76,OKX,Pending,Hot Wallet,2024-11-15 09:51:58.222424
3,841249,84005,XRP,Stake,83.900483,8755.31,734574.74,1396.89,FTX,Completed,Exchange Wallet,2024-02-11 09:51:58.222424
4,762686,66706,Dogecoin,Stake,52.528368,58667.26,3081695.42,19087.58,Kraken,Pending,Exchange Wallet,2023-09-15 09:51:58.222424

In [6]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  int64
 1   User_ID           10000 non-null  int64
 2   Crypto            10000 non-null  object
 3   Transaction_Type  10000 non-null  object
 4   Amount            10000 non-null  float64
 5   Price_Per_Unit    10000 non-null  float64
 6   Total_Value       10000 non-null  float64
 7   Transaction_Fee   10000 non-null  float64
 8   Platform          10000 non-null  object
 9   Status            10000 non-null  object
 10  Wallet_Type       10000 non-null  object
 11  Transaction_Date  10000 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 937.6+ KB

In [7]:
transactions.describe()

,Transaction_ID,User_ID,Amount,Price_Per_Unit,Total_Value,Transaction_Fee
count,10000.000000,10000.00000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,547132.392100,55176.38050,50.120755,29888.220522,1.506658e+06,37555.080850
std,262163.276431,25823.90504,28.902577,17215.202926,1.327017e+06,43871.976036
min,100027.000000,10016.00000,0.024363,10.270000,3.665000e+01,0.040000
25%,318120.750000,32775.00000,24.889845,15240.167500,4.124107e+05,6007.977500
50%,547635.000000,55643.00000,49.887958,29823.745000,1.124990e+06,21182.080000
75%,775336.000000,77450.00000,75.319944,44728.790000,2.310646e+06,53563.732500
max,999919.000000,99986.00000,99.997361,59995.760000,5.881193e+06,287527.830000

In [9]:
transactions['Crypto'].unique()

array(['Bitcoin', 'Solana', 'Cardano', 'XRP', 'Dogecoin', 'BNB',
       'Polkadot', 'Litecoin', 'Avalanche', 'Ethereum'], dtype=object)

In [10]:
transactions['Transaction_Type'].unique()

array(['Withdraw', 'Stake', 'Buy', 'Sell', 'Transfer'], dtype=object)

In [11]:
transactions['Platform'].unique()

array(['KuCoin', 'Binance', 'OKX', 'FTX', 'Kraken', 'Coinbase', 'Huobi'],
      dtype=object)

In [ ]:
transactions['Crypto'].unique()